
body{
background:#f5f6fa;
}

/* Sidebar */
.sidebar{
height:100vh;
background:#381747;
color:white;
padding-top:20px;
}

.sidebar a{
color:white;
text-decoration:none;
display:block;
padding:10px 20px;
}

.sidebar a:hover{
background:rgba(255,255,255,0.2);
border-radius:5px;
}

.sidebar .submenu{
padding-left:20px;
font-size:14px;
}

/* Top navbar */
.topbar{
background:white;
border-bottom:1px solid #ddd;
}

/* Dashboard cards */
.card-box {
border-radius:10px;
}

.sidebar a {
    padding: 10px;
    border-radius: 8px;
    transition: 0.2s;
}

.sidebar a:hover {
    background: rgba(255,255,255,0.1);
}

.active-link {
    background: #EC4899;
    color: #fff !important;
    font-weight: bold;
}





.admin-card{
    border-radius:14px;
}

.admin-table-scroll{
    max-height:500px;
    overflow-y:auto;
}

.admin-table-scroll thead th{
    position:sticky;
    top:0;
    background:#f8f9fa;
    z-index:2;
}

.table td,
.table th{
    vertical-align:middle;
}

.table td{
    white-space:nowrap;
}

.card{
    border-radius:14px !important;
    overflow:hidden;
}

.btn{
    border-radius:10px;
}

.form-control,
.form-select{
    border-radius:10px;
}